*{
    margin: 0;
    padding: 0;
    font-family: "Mali", cursive;
    text-align: center;
}

body{
    color:beige;
    background-color: black;
    max-width: 50%;
    margin: 20px auto;
}
h1{
    color: cornflowerblue;
}

button{
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    transition: 0.5s all ease;
}

button:hover{
    background-color: #001970;
}

form{
    margin-top: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    color: #4B0082;
    color: #0047AB;
}

input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #333333;
    color:burlywood ;
}

ul{
    list-style: none;
    padding: 0;
}
.postItem{
    background-color: #191919;
    border: 1px solid #0047AB;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.editForm{
    display: none;
    margin-top: 10px;
}